/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// change bottom offset of secondary nav so search bar isn't offscreen
.usa-nav__secondary {
   margin-top: units(2);

   @include at-media($theme-header-min-width) {
     // Note: Previius calc() couldn't work. don't hardcode rem vals
     bottom: units(8); // reduced to fit into the nav bar
     font-size: font-size($theme-navigation-font-family, "2xs");
     margin-top: units(1);
     min-width: calc(
       #{$theme-search-min-width} + #{units($theme-button-small-width)}
     );
     position: absolute;
     right: units($theme-site-margins-width);
   }
}

// force logo text to be white and not underline
.usa-logo a {
  color: color("white");
  text-decoration: none;
}

.usa-nav__secondary-links a {
  color: color("white");
}

.usa-header--extended {
  @include at-media($theme-header-min-width) {
    padding-top: 0;

    .usa-nav__primary-item > .usa-current,
    .usa-nav__primary-item > .usa-nav__link:hover {
      @include nav-border-extended;
    }

    // Don't show extended border if dropdown is active.
    .usa-nav__link[aria-expanded="true"]::after,
    .usa-nav__link[aria-expanded="true"]:hover::after {
      display: none;
    }
  }

  .usa-nav {
    @include at-media($theme-header-min-width) {
      border-top: 1px solid color("primary-lighter");
      padding: 0;
      width: 100%;
    }
  }
}

.usa-header {
  @include clearfix;
  @include typeset($theme-header-font-family);
  @include border-box-sizing;
  z-index: z-index($z-index-header);

  a {
    border-bottom: none;
  }

  // The search <form>
  .usa-search {
    @include at-media($theme-header-min-width) {
      float: right;
    }
  }

  // Accessibility: The <div> with search role
  [role="search"] {
    @include at-media($theme-header-min-width) {
      float: right;
      max-width: calc(
        #{$theme-search-min-width} + #{units($theme-button-small-width)}
      );
      width: 100%;
    }
  }

  // The search <input>
  [type="search"] {
    min-width: 0; // Fix a Firefox display quirk
  }

  + .usa-hero {
    @include at-media($theme-header-min-width) {
      border-top: units(1px) solid color("base-lightest");
    }
  }

  + .usa-section,
  + main {
    @include at-media($theme-header-min-width) {
      border-top: 0px solid color("base-lighter");
    }
  }
}

// disable most USWDS defaults for menus on smaller screens
@media screen and (max-width: 63.99em) {
  .usa-nav__primary {
    margin-top: 0px;
  }

  .usa-navbar {
    border-bottom: 0px;
  }

  .usa-nav__primary-item {
    border-top: 0px;
    border-bottom: 0px;
  }
}

// make outline buttons turn blue on highlight
.usa-button--outline:hover {
  background-color: color("primary");
  color: color("base-lightest");
}


// Primary navigation
// ---------------------------------

.usa-nav__primary {
  // Until the $theme-header-width,
  // use the usa-nav-list styles for the slide-in nav
  @include at-media-max($theme-header-min-width) {
    @include nav-list("nav");
    margin-top: units(3);
    order: 2;

    a {
      @include u-padding-y(1.5);
    }
  }

  // At $theme-header-width and wider...
  @include at-media($theme-header-min-width) {
    display: flex;
  }

  // all nav items in the nav
  .usa-nav__primary-item {
    a {
      text-decoration: none;
    }
  }

  // just level 1 nav items...
  > .usa-nav__primary-item {
    line-height: line-height($theme-navigation-font-family, 2);
    @include at-media($theme-header-min-width) {
      font-size: font-size($theme-navigation-font-family, "2xs");
      line-height: line-height($theme-navigation-font-family, 1);
    }

    // ...and their direct links
    > a {
      @include at-media($theme-header-min-width) {
        @include primary-nav-link;
        color: color($nav-link-color);
        display: block;
        font-weight: font-weight("bold");

        &:hover {
          color: color("primary-lighter");
        }
      }
    }
  }

  a {
    @include at-media($theme-header-min-width) {
      @include u-padding-y(1);
    }
  }

  button {
    $button-vertical-offset: 53%; // XXX: Magic number

    @include button-unstyled;
    color: color($nav-link-color);
    font-weight: font-weight("normal");
    line-height: line-height($theme-navigation-font-family, 2);
    padding: units(1.5) units(2);
    text-decoration: none;

    @include at-media($theme-header-min-width) {
      @include primary-nav-link;
      font-size: font-size($theme-navigation-font-family, "2xs");
      font-weight: font-weight("bold");
    }

    &:hover {
      color: color("primary-lighter");
      background-color: color("base-lightest");
      text-decoration: none;

      @include at-media($theme-header-min-width) {
        background-color: transparent;
      }
    }

    &[aria-expanded="false"] {
      /* stylelint-disable-line selector-no-qualifying-type */
      @include add-background-svg("plus-alt");
      background-position: right 0 center;
      background-size: units($nav-link-accordion-icon-size);

      @include at-media($theme-header-min-width) {
        @include add-background-svg("angle-arrow-down");
        background-size: units($nav-link-arrow-icon-size);
        background-position: right units(2) top $button-vertical-offset;
      }

      &:hover {
        @include at-media($theme-header-min-width) {
          @include add-background-svg("angle-arrow-down-primary");
        }
      }
    }

    &[aria-expanded="true"] {
      /* stylelint-disable-line selector-no-qualifying-type */
      @include add-background-svg("minus-alt");
      background-position: right 0 center;
      background-size: units($nav-link-accordion-icon-size);

      @include at-media($theme-header-min-width) {
        @include add-background-svg("angle-arrow-up-white");
        @include add-knockout-font-smoothing;
        background-size: units($nav-link-arrow-icon-size);
        background-color: color("primary-darker");
        background-position: right units(2) top $button-vertical-offset;
        color: color("white");
      }
    }
  }

  .usa-accordion__button {
    span {
      @include at-media($theme-header-min-width) {
        margin-right: 0;
        padding-right: units(2);
      }
    }
  }
}

.home--separator-blue{
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 4px solid rgba(7, 100, 141, 0.1);
  background: rgba(7, 100, 141, 0.1);
  width: 32px;
}

.home--separator-green{
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 4px solid rgba(127, 177, 53, 0.1);
  background: rgba(127, 177, 53, 0.1);
  width: 32px;
}

.usa-media-block__body {
  justify-content: center;
}

.agency-footer {
  display: flex;
}

.agency-footer__logo {
  max-height: 2rem;
  margin-right: 1rem;
}

.agency-footer__name {
  margin: 0;
}