/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
$site-primary-family:   'blue-warm';
$site-primary-lighter:  '#{$site-primary-family}-10';
$site-primary-light:    '#{$site-primary-family}-30';
$site-primary:          '#{$site-primary-family}-50';
$site-primary-vivid:    '#{$site-primary-family}-50v';
$site-primary-dark:     '#{$site-primary-family}-70';
$site-primary-darker:   '#{$site-primary-family}-80';
$site-ink:              'black-transparent-80';

$site-border-width:     2px;
$site-base-transparent-light: 'black-transparent-10';
$site-background-color: 'gray-1';
.default-container {
  @include u-bg($site-background-color);
}
.demo-section {
  max-width: 750px;
  padding: 1rem;
}
// Sidebar Nav --------- //

.site-sidenav.usa-sidenav {
  @include typeset('sans', 'xs', 3);
  background-color: color('white');
  border: units($site-border-width) solid color('black-transparent-10');
  border-radius: radius('md');
  padding: 0;

  a {
    @include u-padding-x(2);
    color: color('base-darker');

    &:hover {
      background-color: transparent;
      color: color($site-primary-vivid);
    }
  }

  .usa-current {
    color: color('base-darker');
    position: static;

    &::after {
      border-radius: 0;
      bottom: units(0);
      background-color: color($site-primary-vivid);
      bottom: units(-1px);
      left: units($site-border-width) * -1;
      top: units(0);
      z-index: z(100);
    }
  }

  .usa-sidenav__item:first-child {
    .usa-current::after {
      border-top-left-radius: radius('md');
      top: units($site-border-width) * -1;
    }
  }

  .usa-sidenav__item:last-child {
    .usa-current::after {
      border-bottom-left-radius: radius('md');
      bottom: units($site-border-width) * -1;
    }
  }

  .usa-sidenav__item {
    border-top: none;
    line-height: lh('lang', 3);
    position: relative;

    & + .usa-sidenav__item {
      a {
        // TODO: use 'black-transparent-5' when value changes
        border-top: units(1px) solid rgba(0, 0, 0, .05);
      }
    }

    &.is-current {
      background-color: color($site-background-color);

      .is-current {
        background-color: transparent;
      }
    }
  }

  .usa-sidenav__sublist {
    font-size: font-size('sans', '3xs');
    a {
      border-top: units(1px) solid rgba(0, 0, 0, .05);
      padding-left: units(2);
    }

    .usa-current {
      color: color($site-primary-vivid);
    }

    .usa-sidenav__sublist {
      a {
        padding-left: units(4);
      }
    }
  }
}

.sidenav {
  display: none;

  @include at-media('desktop') {
    display: block;
    float: left;
    margin-bottom: units(6);
    margin-top: units(4);
    padding-right: 0;
    padding-left: units(4);
    width: 15rem;
  }

  .usa-navigation-submenu {
    &[aria-hidden="false"] {
      display: block;
    }
  }
}

// Main Content --------- //

.main-content {
  @include u-pin('right');
  @include u-pin('bottom');
  display: inline-block; // starting: not scrolled
  margin-top: units(5); // starting: not scrolled
  position: relative;
  width: 100%;

  @include at-media('desktop') {
    width: calc(100% - 15rem);
  }

  .lt-ie9 & {
    width: 75%;
  }
}