/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// change bottom offset of secondary nav so search bar isn't offscreen
.usa-nav__secondary {
   margin-top: units(2);
 
   @include at-media($theme-header-min-width) {
     // Note: Previius calc() couldn't work. don't hardcode rem vals
     bottom: units(8); // reduced to fit into the nav bar
     font-size: font-size($theme-navigation-font-family, "2xs");
     margin-top: units(1);
     min-width: calc(
       #{$theme-search-min-width} + #{units($theme-button-small-width)}
     );
     position: absolute;
     right: units($theme-site-margins-width);
   }
}

// force logo text to be white
.usa-logo a {
  color: color("white");
  text-decoration: none;
}

.usa-nav__secondary-links a {
  color: color("white");
}

.usa-header--extended {
  @include at-media($theme-header-min-width) {
    padding-top: 0;

    .usa-nav__primary-item > .usa-current,
    .usa-nav__primary-item > .usa-nav__link:hover {
      @include nav-border-extended;
    }

    // Don't show extended border if dropdown is active.
    .usa-nav__link[aria-expanded="true"]::after,
    .usa-nav__link[aria-expanded="true"]:hover::after {
      display: none;
    }
  }

  .usa-nav {
    @include at-media($theme-header-min-width) {
      border-top: 0px solid color("primary");
      padding: 0;
      width: 100%;
    }
  }
}

.usa-header {
  @include clearfix;
  @include typeset($theme-header-font-family);
  @include border-box-sizing;
  z-index: z-index($z-index-header);

  a {
    border-bottom: none;
  }

  // The search <form>
  .usa-search {
    @include at-media($theme-header-min-width) {
      float: right;
    }
  }

  // Accessibility: The <div> with search role
  [role="search"] {
    @include at-media($theme-header-min-width) {
      float: right;
      max-width: calc(
        #{$theme-search-min-width} + #{units($theme-button-small-width)}
      );
      width: 100%;
    }
  }

  // The search <input>
  [type="search"] {
    min-width: 0; // Fix a Firefox display quirk
  }

  + .usa-hero {
    @include at-media($theme-header-min-width) {
      border-top: units(1px) solid color("base-lightest");
    }
  }

  + .usa-section,
  + main {
    @include at-media($theme-header-min-width) {
      border-top: 0px solid color("base-lighter");
    }
  }
}

 .usa-button--secondary{
   color: color("base-lightest")
 }

 .usa-nav__primary button  {
   color: color("base-lightest")
 }

 .usa-nav__link a {
  color: color("base-lightest")
 }

 .usa-nav__primary>.usa-nav__primary-item>a {
  color: color("base-lightest")
}